.body{
    overflow-x: hidden;
}
.navBar {
    background-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navLinks ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    padding-left: 3rem;
    margin: 0;
}

.navItem {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.logoMain {
    color: white;
    font-family: Titan One;
    font-size: 40px;
    font-weight: 400;
    display: none;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
}

.logo {
    color: white;
    font-family: Titan One;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    margin-right: 10rem;
    text-align: center;
}

.icons {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}

.icons i {
    color: white;
    font-size: 20px;
}



/* end of navBar */

.mainPage{
    background-image: url('/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
}

.mainpageTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    padding-bottom: 185px;
    gap: 1rem;
}

.mainpageTxt .heading{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.mainpageTxt .shopBtn a{
    color: white;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}












.popularDivItems{
    display: flex;
    justify-content: space-between;
}

.productName{
    padding: 0.5rem 0rem 0rem 0rem;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: black;    
}

.product{
    width: max-content;
}

.phantomDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.SlideItem{
    width: 100%;
}

.sliderTxtDiv{
    width: 80%;
    margin: auto;
}


.phantomTxt{
    font-family: Poppins;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;    
}

.phantomCollection{
    background-color: #696969;
    width: max-content;
    color: white;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.1rem 0.3rem;    
    border-radius: 3px;
}

.productInfo .price{
    font-family: Poppins;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;    
}

.popularDiv{
    margin-top: 50px;
    padding-top: 2rem;
    margin: auto;
}

.popularDivTop{
    width: 97%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.popularDivTop .left{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: black;    
}

.popularDivTop .right{
    color: white;
    background-color: black;
    display: inline;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0rem 1rem;
    border-radius: 23px;    
}

.popularDivItems{
    display: flex;
    justify-content: space-between;
}

.popularDivItems2{
    display: flex;
    flex-wrap: wrap;
}

.product2{
    width: 30%;
}

.gridContainer {
    padding-top: 5rem;
    display: grid;
    display: flex;
    align-items: center;
    grid-template-columns: repeat(6, 1fr, 1fr, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-gap: 8px;
    width: 100%;
    margin-left: 0px;
}

.gridItem {
    padding: 20px;
}

.gridItem:nth-child(1) {
    grid-row: span 6;
}
.gridItem:nth-child(2) {
    grid-row: span 6;
}

.newCollectionTxt{
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;  
}

.checkItOut{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.shopNowBtn{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: #C5C5C580;
  border: none;
  width: max-content;
  padding: 0.5rem 1rem;  
  border-radius: 20px;
  color: white;
}

.gridItem1{
  display: flex;
  margin-left: 50px;
  width: 90%;
  margin-top: 2rem;
}

.gridItemTxtDiv{
  margin-top: -200px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gridItemTxtDiv1{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 5;
  margin-right: -250px;
  margin-top:410px;
  padding-bottom: 2rem;
}

.pumpCover{
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.overSized{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;  
  color: white;
}

.lastChance{
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: right;
  color: white;
}

.dontMiss{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;  
  color: white;
}

.gridItemTxtDiv2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-left: -230px;
  padding-bottom: 1.5rem;
  margin-top: 490px;
}

.gridItem2{
  display: flex;
  margin-left: 50px;
  /* height: 150%; */
  width: 100%;
}

.gridItem:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
}

.arrowDiv{
    z-index: 99;
    margin-left: 1290px;
    position: absolute;
    margin-top: 230px;
    font-size: 25px;
    color: #CFCFCF;
}
.arrowDiv:hover{
    color: black;
}















@media only screen and (max-width:980px){
    .navBar {
        width: 100% !important;
    }

    .navBar .logo {
        display: none;
    }

    .navBar ul {
        gap: 1rem;
        padding-left: 1rem;
    }

    .navBar .right {
        padding-right: 1rem;
    }

    .navBar .right{
        gap: 0.7rem;
    }

    .popularDivTop .left{
        font-size: 20px;
    }
    .popularDivTop .right{
        font-size: 15px;
    }

    .imgGrey{
        width: 60px;
    }

    .sliderTxtDiv{
        width: 95%;
    }

    .SlideItem{
        padding: 0rem 1rem;
    }

    .phantomCollection{
        display: none;
    }

    .mainPage{
        height: 100%;
    }

    .mainpageTxt{
        margin-top: 250px;
    }

    .popularDivItems{
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* .Swiper{
        display: none !important;
    } */

    .swiperWrapper{
        display: flex;
        flex-direction: column;
    }

    .SlideItem{
        width: 100%;
    }

    .product{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productName{
        font-size: 10px;
    }

    .phantomDiv{
        flex-direction: column;
    }

    .image{
        width: 80px;
    }
    
    .gridContainer{
        flex-direction: column;
        margin: auto;
        padding-top: 5rem;
    }

    .gridItem:nth-child(1){
        /* padding: 0rem 1rem 0rem 1rem; */
        width: 90%;
        /* margin-left: 20px; */
    }

    .gridItem1{
        margin-left: 3git0px;
        /* padding: 0rem 0rem 0rem 3rem; */
        width: 90%;
    }

    .gridItem2{
        margin-left: 12px;
        width: 93%;
        /* padding: 0rem 1rem 0rem 0.5rem; */
    }

    .gridItem{
        padding: 2rem 0;
    }

    .gridItemTxtDiv2{
        margin-top: 180px;
        padding-bottom: 1.5rem;
        margin-left: -150px;
    }

    .gridItemTxtDiv1{
        margin-top: 210px;
        padding-bottom: 1.5rem;
        margin-right: -240px;
    }

    /* .landingLeftGridImg1{
        width: 800px;
    }

    .landingLeftGridImg2{
        width: 800px;
    } */

    .footerRight{
        width: 100%;
    }

    .infoIcons{
        margin: auto;
        width: 100%;
    }

    .footerInternal{
        flex-direction: column;
    }

    .footer .name .yourBrandTxt{
        font-size: 18px;
    }

    .footer .brandLocation .boldText .yourBrandInc{
        font-size: 15px;
    }

    .footer .agencyHq{
        font-size: 15px;
    }

    .footer .faqList li{
        font-size: 13px;
    }
    .newCollectionTxt{
        font-size: 30px;
    }

    .pumpCover{
        font-size: 30px;
    }

    .lastChance{
        font-size: 30px;
    }
}


/* for galaxy fold only */

@media only screen and (max-width:281px){
    .navBar ul{
        padding: 0;
        gap: 0.5rem;
    }

    .navBar .right{
        padding: 0;
    }

    .navBar .icons{
        gap: 0.5rem;
    }

    
}


/* for the logo on small screens */


@media only screen and (min-width:980px){
    .mainpageTxt .logoMain{
        display: none;
    }
}





@media only screen and (min-width:980px){
    .popularDivItems2{
        display: none;
    }
}

/* for ipad air */

@media only screen and (min-width:800px){
    .gridItem:nth-child(1){
        padding: 0rem 1rem 0rem 10rem;
    }
}

/* for ipad mini */


@media only screen and (min-width:760px){
    .gridItem:nth-child(1){
        padding: 0rem 1rem 0rem 9rem;
    }
}


/* for surface pro 7 */

@media only screen and (min-width:910px){
    .gridItem:nth-child(1){
        padding: 0rem 1rem 0rem 12rem;
    }
}



/* for nest hub */

@media only screen and (min-width:1279px) and (max-width:1281px){
    .gridContainer{
        margin-left: -100px !important;
        padding-top: 5rem;
    }
}

/* for nest hub real */

@media only screen and (min-width:1023px) and (max-width:1025px){
    .gridContainer{
        margin-left: -100px;
        padding-top: 5rem;
    }
}

@media only screen and (min-width:2617px) and (max-width:2619px){
    .gridContainer{
        margin-left: 530px;
    }

    .gridItem:nth-child(2){
        gap: 1rem;
    }

    .gridItem1{
        width: 85%;
    }

    .gridItem2{
        width: 87%;
        margin-left: 18px;
    }
}


@media only screen and (min-width:2555px) and (max-width:2561px){
    .gridContainer{
        margin-left: 500px;
    }

    .gridItem1{
        width: 88%;
    }

    .gridItem2{
        width: 90%;
        margin-left: 0;
    }

    .gridItemTxtDiv{
        margin-top: -210px;
    }

    .gridItem:nth-child(2){
        gap: 0.2rem;
    }

    .gridItemTxtDiv1{
        padding-bottom: 1rem;
    }

    .gridItemTxtDiv2{
        padding-bottom: 2.5rem;
    }
}




/* best */



@media only screen and (min-width:765px) and (max-width:770px){
    .gridItem:nth-child(1){
        padding: 0rem 1rem 3rem 1.5rem !important;
        width: 80% !important;
    }

    .gridItem:nth-child(2){
        gap: 5rem;
    }

    .imgGrey{
        width: 100px !important;
    }

    .gridItem1{
        width: 100% !important;
        padding: 0 !important;
        margin-left: -30px !important;
    }

    .gridItem2{
        width: 100% !important;
        margin-right: 1.5rem !important;
        padding: 0 !important;
    }

    .gridItemTxtDiv1{
        margin-top: 450px !important;
        margin-left: 20px;
    }

    .gridItemTxtDiv2{
        margin-top: 350px !important;
        margin-left: -180px !important;
        padding: 0rem 0rem 1rem 1rem !important;
    }

    .arrowDiv{
        margin-left: 675px;
        margin-top: 130px;
        font-size: 20px;
    }
}




@media only screen and (min-width:1438px) and (max-width:1441px){
    .gridItem2{
        width: 100% !important;
        margin-left: 44px;
    }

    .gridItemTxtDiv1{
        padding-bottom: 3rem;
        margin-top: 380px;
    }

    .gridContainer{
        width: max-content;
    }

    .arrowDiv{
        margin-left: 1170px;

    }

}


@media only screen and (min-width:2559px) and (max-width:2561px){
    .gridContainer{
        width: max-content;
    }

    .arrowDiv{
        margin-left: 1880px;
    }
}

@media only screen and (min-width:1020px) and (max-width:1025px){
    .imgGrey{
        width: 150px !important;
    }

    .gridItem:nth-child(2){
        gap: 0.4rem;
    }

    .gridItem:nth-child(1){
        width: 82% !important;
    }

    .gridItem:nth-child(1){
        width: 82% !important;
    }

    .gridItem1{
        width: 100% !important;
        margin-top: 50px !important;
    }

    .gridItem2{
        width: 100% !important;
        margin-left: 10px !important;
    }

    .gridItemTxtDiv1{
        margin-top: 300px !important;
        margin-right: -240px !important;
    }

    .gridItemTxtDiv2{
        margin-top: 260px;
        padding-bottom: 1rem;
    }

    .arrowDiv{
        margin-left: 830px;
        margin-top: 180px;
    }
}

@media only screen and (min-width:318px) and (max-width:321px){
    .arrowDiv{
        margin-left: 270px;
        margin-top: 120px;
        font-size: 20px;
    }

    .gridItem:nth-child(2){
        gap: 5rem;
    }
}


@media only screen and (min-width:2617px) and (max-widht:2619px){
    .gridItem2{
        width: 100% !important;
    }
}