.body {
    overflow-x: hidden;
}

.navBar {
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navLinks ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    padding-left: 3rem;
    margin: 0;
}

.navItem {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.logoMain {
    color: white;
    font-family: Titan One;
    font-size: 40px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
}

.logo {
    color: white;
    font-family: Titan One;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    margin-right: 10rem;
    text-align: center;
}

.icons {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}

.icons i {
    color: white;
    font-size: 20px;
}


/* nav div end */


.mainFormDiv{
    width: 60%;
    padding-bottom: 8rem;
    margin: auto;
}

.mainTxtDiv{
    margin: 60px 0px;
}

.headingMain{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: black;    
}

.txtMain{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    padding: 0rem 1.5rem;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: black;    
    width: 30%;
    margin: auto;
}

.nameForms, .emailForms, .orderForms, .messageForms{
    display: flex;
    flex-direction: column;
}

.formLabel{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: black;    
}

.mainFormDiv input{
    border: 1px solid #C6C6C6;
    padding: 0.5rem 0rem;
    border-radius: 10px;
}

.mainFormDiv textarea{
    border: 1px solid #C6C6C6;
    padding: 0.5rem 0rem;
    border-radius: 10px;
}

.submitBtn{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: white;   
    background-color: black; 
    width: max-content;
    padding: 0.4rem 3rem;
    border-radius: 6px;
    margin-top: 20px;
}


/* footer start */

.footer {
    background: white;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px -2px 18px 0px #0000001A;
}

.footerOuter{
    width: 80%;
    margin: auto;
}

.footerLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerInternal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    align-items:flex-end;
}

.footer .brandInfo {
    display: flex;
    justify-content: space-between;
}

.infoIcons i{
    font-size: 25px;
}

.footer .infoIcons {
    display: flex;
    gap: 3rem;
    width: max-content;
    margin: auto;
    padding-top: 3rem;
}

.footer .faqList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: black;
    gap: 1.4rem;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}

.yourBrandTxt {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.yourBrandInc {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.agencyHq {
    color: black;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.yourTxt{
    border-bottom: 2px solid #ff5733;
}






@media only screen and (max-width:980px){
    .navBar {
        width: 100% !important;
    }

    .navBar .logo {
        display: none;
    }

    .navBar ul {
        gap: 1rem;
        padding-left: 1rem;
    }

    .navBar .right {
        padding-right: 1rem;
    }

    .footerRight{
        width: 100%;
    }

    .infoIcons{
        margin: auto;
        width: 100%;
    }

    .footerInternal{
        flex-direction: column;
    }

    .footer .name .yourBrandTxt{
        font-size: 18px;
    }

    .footer .brandLocation .boldText .yourBrandInc{
        font-size: 15px;
    }

    .footer .agencyHq{
        font-size: 15px;
    }

    .footer .faqList li{
        font-size: 13px;
    }


    /* same module end */

    .txtMain{
        width: 100%;
    }

    .mainFormDiv{
        width: 95%;
    }

}